:root {
  // 自定义
  --common-bg-nav: #f8f8f8;
  --common-bg-main: #f2f3f6;
  --common-bg-card: #ffffff;
  --common-title-text-color: #000000;
  --common-text-color: #000000;
  --common-text-value-color: #828282;
  --common-text-sub: rgba(0, 0, 0, 0.6);
  --common-icon-unselect-bg: #f2f2f2;
  --common-br-ra: 13px;
  --common-br-b-c: #E6E6E6;
  --common-primary: #256FFF;
  --common-primary-strong: #256FFF;
  --common-bg-img: url('/images/shengji.png');
}
