:root {
  // 自定义
  --common-bg-nav: #f8f8f8;
  --common-bg-main: #f2f3f6;
  --common-bg-card: #ffffff;
  --common-title-text-color: #000000;
  --common-text-color: #000000;
  --common-icon-unselect-bg: #f2f2f2;
  --common-br-ra: 13px;
}
