$--common-cell-border__radius: 12px;
$--light-off-start-color: #8e95a8;

:root {
  --cell-border__radius: 12px;
  --layout-header__height: 56px;
  --offline__opacity: 0.38;
  --popup-max-height: 300px;
  // 亮色模式下关灯背景
  --light-off-start-color: rgba(142, 149, 168, 100);
  --light-off-end-color: rgba(142, 149, 168, 0);
}

:root {
  .van-theme-dark {
    // 暗色模式下关灯无背景
    --light-off-start-color: rgba(73, 102, 144, 0);
    --light-off-end-color: rgba(73, 102, 144, 0);
  }
}
