@mixin button-custom($width: 100, $height: 30) {
  &__#{$width} {
    height: #{$height}px;
    width: #{$width}px;
  }
}

.flex {
  display: flex;
  height: 100%;

  &-center {
    align-items: center;
    justify-content: center;
  }
}
.m {
  &l--20 {
    margin-left: 20px;
  }

  &r--20 {
    margin-right: 20px;
  }
}
